@font-face {
  font-family: "Nixie";
  font-display: swap;
  src: url("fonts/TT Chocolates ExtraLight.otf");
  src: url("fonts/TT Chocolates ExtraLight.otf") format("opentype");
}

@font-face {
  font-family: "Nixie Bold";
  font-display: swap;
  src: url("fonts/TT\ Chocolates\ Bold.otf");
  src: url("fonts/TT\ Chocolates\ Bold.otf") format("opentype");
}

@font-face {
  font-family: "Nixie Regular";
  font-display: swap;
  src: url("fonts/TT\ Chocolates\ Regular.otf");
  src: url("fonts/TT\ Chocolates\ Regular.otf") format("opentype");
}


:root{
  --base-background: rgba(19, 23, 33, 1);
  --screen-section-background: rgb(32, 28, 28);
  --screen-inner-background-color: rgb(10,10,10) ;
  --keypad-background: rgb(28, 21, 21);
  --border-color: rgb(254, 226, 71);
  --functions-background: rgb(245, 73, 61);
  --display-digits: rgb(210, 91, 32);
  --function-keys-color: rgb(169, 31, 31);
  --function-keys-hover: rgb(97, 9, 9);
  --operator-keys-color: rgb(195, 78, 5);
  --operator-keys-hover: rgb(199, 170, 9);
  --numeric-keys-color:  rgb(122, 155, 161);
  --numeric-keys-hover:  rgb(30, 117, 210);
  --keys-border-color: rgb(20,20,20);
  --section-border-color: rgb(65, 78, 91);
  --outter-container-border: rgb(12,12,12);
  --screen-digit-shawdow-color: #F58732;
  --screen-digit-small-color: #feb454;
  --screen-inner-border-color: rgb(105,105,105);
}

/* simple reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-size: 16px;
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  height: 100dvh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: repeating-conic-gradient(from 11.25deg, black 0deg 22.5deg, #0f0f0f 22.5deg 45deg);
  background-color: black;
  background-repeat: no-repeat;
}

#calculator-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:400px;
  height: 600px;
  background-color: var(--base-background);
  border-radius: 10px;
  border:2px solid;  
  border-color: var(--outter-container-border);
  font-family: "Nixie Bold";
  font-size: 36px;
  font-size: bold;
}

#screen-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--screen-section-background);
  width:380px;
  height: 190px;
  border-radius: 6px 6px 0 0;
  border: 1px solid;
  border-color: var(--section-border-color);
  border-bottom: none;
}

#screen{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#screens-container{
  display: flex;
}

.top-screen{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  width: 320px;
  height: 50px;
  border-radius: 10px 10px 0 0 ;
  border: 1px solid var(--screen-inner-border-color);
  border-bottom: none;
  background-color: var(--screen-inner-background-color);
  gap: 10px;
  color: var(--display-digits);
  color: var(--screen-digit-small-color);
  text-shadow: 0 0 10px var(--screen-digit-shawdow-color);
  font-family: "Nixie";
  font-size: 32px;
  letter-spacing: 4px;
}

.intermediate{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.operator{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis:40px;
}


.bottom-screen{
  display: flex;
  flex-direction: row;
  width: 320px;
  height: 90px;
  background-color: var(--screen-inner-background-color);
  border-radius: 0 0 10px 10px;
  gap: 400px;
  border: 1px solid var(--screen-inner-border-color);
  color: var(--display-digits);
  text-shadow: 0 0 20px var(--screen-digit-shawdow-color);
  font-family: "Nixie";
  font-size: 40px;
  justify-content: end;
  align-items: center;
  letter-spacing: 4px;
  border-top: none;
}

.result{
  display: flex;
  justify-content: end;
  align-items: center;
  flex:1 1 200px;
  margin: 0 10px;
}

#keypad-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--keypad-background);
  width:380px;
  height: 390px;
  border-radius: 0 0 6px 6px ;
  border: 1px solid;
  border-color: var(--section-border-color);
  border-top: none;
}

#keypad{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 360px;
  border-radius: 0 0 8px 8px;
  gap: 10px;
}


.function{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  flex:auto;
  border: 1px solid var(--keys-border-color);
  gap: 20px;
  background-color: var(--function-keys-color);
  border-radius: 15px;
}

.function:hover{
  background-color: var(--function-keys-hover);
  cursor: pointer;
}

#operations{
  display: flex;
  justify-content: start;
  align-items: stretch;
  flex:auto;
  flex-wrap: wrap;
  width: 120px;
  height: 260px;
  gap:2px;
}

.operation{
  display: flex;
  background-color: var(--operator-keys-color);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  flex:1 1 56px;
  border: 1px solid var(--keys-border-color);
  gap: 6px;
  border-radius: 15px
}
.operation:hover {
  background-color: var(--operator-keys-hover);
  cursor: pointer;
}

#digits{
  display: flex;
  justify-content: start;
  align-items: stretch;
  flex:auto;
  flex-wrap: wrap;
  width: 200px;
  height: 260px;
  gap:2px;
}

.digit{
  display: flex;
  background-color: var(--numeric-keys-color);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  flex:1 1 60px;
  border: 1px solid var(--keys-border-color);
  gap: 16px;
  border-radius: 15px;
}

.digit:hover {
  background-color: var(--numeric-keys-hover);
  cursor: pointer;
}


.top{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 320px;
  height: 70px;
  gap: 20px;
}

.bottom{
  display: flex;
  flex-direction: row;
  width: 320px;
  height: 260px;
  gap: 4px;
}