@font-face {
  font-family: "Nixie";
  font-display: swap;
  src: url("fonts/TT Chocolates ExtraLight.otf");
  src: url("fonts/TT Chocolates ExtraLight.otf") format("opentype");
}

@font-face {
  font-family: "Nixie Bold";
  font-display: swap;
  src: url("fonts/TT\ Chocolates\ Bold.otf");
  src: url("fonts/TT\ Chocolates\ Bold.otf") format("opentype");
}

@font-face {
  font-family: "Nixie Regular";
  font-display: swap;
  src: url("fonts/TT\ Chocolates\ Regular.otf");
  src: url("fonts/TT\ Chocolates\ Regular.otf") format("opentype");
}


:root{
  --base-background: rgba(19, 23, 33, 1);
  --screen-section-background: rgb(32, 28, 28);
  --screen-inner-background-color: rgb(10,10,10) ;
  --keypad-background: rgb(28, 21, 21);
  --border-color: rgb(254, 226, 71);
  --functions-background: rgb(245, 73, 61);
  --display-digits: rgb(210, 91, 32);
  --function-keys-color: rgb(169, 31, 31);
  --function-keys-hover: rgb(97, 9, 9);
  --operator-keys-color: rgb(195, 78, 5);
  --operator-keys-hover: rgb(199, 170, 9);
  --numeric-keys-color:  rgb(122, 155, 161);
  --numeric-keys-hover:  rgb(30, 117, 210);
  --keys-border-color: rgb(20,20,20);
  --section-border-color: rgb(65, 78, 91);
  --outter-container-border: rgb(12,12,12);
  --screen-digit-shawdow-color: #F58732;
  --screen-digit-small-color: #feb454;
  --screen-inner-border-color: rgb(105,105,105);
}

/* simple reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-size: 16px;
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  height: 100dvh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: repeating-conic-gradient(from 6deg, rgb(21, 27, 34) 10deg 24deg, rgb(15, 15, 15) 15deg 50deg);
  background-repeat: no-repeat;
}

#calculator-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:400px;
  height: 600px;
  background-color: var(--base-background);
  border-radius: 10px;
  border:2px solid;  
  border-color: var(--outter-container-border);
  font-family: "Nixie Bold";
  font-size: 36px;
  font-size: bold;
}

#screen-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--screen-section-background);
  width:380px;
  height: 190px;
  border-radius: 6px 6px 0 0;
  border: 1px solid;
  border-color: var(--section-border-color);
  border-bottom: none;
}

#screen{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#screens-container{
  display: flex;
}

.top-screen{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  width: 320px;
  height: 50px;
  border-radius: 10px 10px 0 0 ;
  border: 1px solid var(--screen-inner-border-color);
  border-bottom: none;
  background-color: var(--screen-inner-background-color);
  gap: 10px;
  color: var(--display-digits);
  color: var(--screen-digit-small-color);
  text-shadow: 0 0 10px var(--screen-digit-shawdow-color);
  font-family: "Nixie";
  font-size: 32px;
  letter-spacing: 4px;
}

.intermediate{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.operator{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis:40px;
}


.bottom-screen{
  display: flex;
  flex-direction: row;
  width: 320px;
  height: 90px;
  background-color: var(--screen-inner-background-color);
  border-radius: 0 0 10px 10px;
  gap: 2px;
  border: 1px solid var(--screen-inner-border-color);
  color: var(--display-digits);
  text-shadow: 0 0 20px var(--screen-digit-shawdow-color);
  font-family: "Nixie";
  font-size: 44px;
  justify-content: end;
  align-items: center;
  letter-spacing: 3px;
  border-top: none;
}

.result{
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 2px;
  /* flex:1 1 200px; */
  /* margin: 0 6px 0 0; */
}

.sign{
  display: flex;
  justify-content: end;
  align-items: center;
  flex-basis:25px;
  padding-left: 4px;
}

#keypad-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--keypad-background);
  width:380px;
  height: 390px;
  border-radius: 0 0 6px 6px ;
  border: 1px solid;
  border-color: var(--section-border-color);
  border-top: none;
}

#keypad{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 360px;
  border-radius: 0 0 8px 8px;
  gap: 10px;
}


.function{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  flex:auto;
  border: 1px solid var(--keys-border-color);
  gap: 20px;
  background-color: var(--function-keys-color);
  border-radius: 15px;
}

.function:hover{
  background-color: var(--function-keys-hover);
  cursor: pointer;
}

#operations{
  display: flex;
  justify-content: start;
  align-items: stretch;
  flex:auto;
  flex-wrap: wrap;
  width: 120px;
  height: 260px;
  gap:2px;
}

.operation{
  display: flex;
  background-color: var(--operator-keys-color);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  flex:1 1 56px;
  border: 1px solid var(--keys-border-color);
  gap: 6px;
  border-radius: 15px
}
.operation:hover {
  background-color: var(--operator-keys-hover);
  cursor: pointer;
}

#digits{
  display: flex;
  justify-content: start;
  align-items: stretch;
  flex:auto;
  flex-wrap: wrap;
  width: 200px;
  height: 260px;
  gap:2px;
}

.digit{
  display: flex;
  background-color: var(--numeric-keys-color);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  flex:1 1 60px;
  border: 1px solid var(--keys-border-color);
  gap: 16px;
  border-radius: 15px;
}

.digit:hover {
  background-color: var(--numeric-keys-hover);
  cursor: pointer;
}


.top{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 320px;
  height: 70px;
  gap: 20px;
}

.bottom{
  display: flex;
  flex-direction: row;
  width: 320px;
  height: 260px;
  gap: 4px;
}

#name-tag{
  display: flex;
  margin-top: -10px;
  margin-bottom: -10px;
  align-self: flex-start;
  z-index: 2;

}

.metalic {
  transform: translateX(50%);
  padding: 0px 24px;
  line-height: 0.95;
  border-radius: 2px;
  font-size: 18px;
  background: 
    /* texture */
    repeating-linear-gradient(transparent 0 13%, #ffffff02 0 calc(13% + 1px), transparent 0) 30% 0% / 40% 100%,
    repeating-linear-gradient(transparent 0 7%, #ffffff03 0 calc(7% + 1px), transparent 0) 70% 0% / 33% 100%,
    repeating-linear-gradient(transparent 0 11%, #ffffff02 0 calc(11% + 1px), transparent 0) -10% 0% / 35% 100%,
    repeating-linear-gradient(transparent 0 17%, #ffffff04 0 calc(17% + 1px), transparent 0) 110% 0% / 27% 100%,
    repeating-linear-gradient(transparent 0 13%, #00000002 0 calc(13% + 1px), transparent 0) 60% -10% / 33% 100%,
    repeating-linear-gradient(transparent 0 8%, #00000002 0 calc(8% + 1px), transparent 0) 21% 2% / 27% 100%,
    repeating-linear-gradient(transparent 0 8%, #00000001 0 calc(8% + 1px), transparent 0) 31% 7% / 19% 100%,
    /* /texture */
    /* texture? */
    radial-gradient(farthest-side, #00000011, #0000 60%) 20% 50% / 50% 5%,
    radial-gradient(farthest-side, #ffffff08, #0000 60%) 50% 30% / 50% 7%,
    /* colors and shadows */
    radial-gradient(100% 10% at 60% 3%, #fff1, #0000 50%),
    radial-gradient(100% 10% at 60% 97%, #fff3, #0000 50%),
    radial-gradient(150% 10% at 50% 99%, #0009, #0000 50%),
    linear-gradient(#fff1, #fff0 15%, #fff1 85%, #fff3),
    linear-gradient(#fff2, #fff0 20%, #0000 96%, #0006),
    linear-gradient(90deg, #555, #333 10%, #ccc 33%, #666 48% 52%, #fff 66% 75%, #555 90% 95%, #ccc)
}
